body {
    position: relative;
    padding-top: 40px;
}

#footer {
    background-color: #f5f5f5;
}

.favorite {
    background: url('../images/fav_on_16.png') no-repeat bottom;
    color: transparent;
    border: transparent;
}

.unfavorite {
    background: url('../images/fav_off_16.png') no-repeat bottom;
    color: transparent;
    border: transparent;
}

.invited {
    background: url('../images/checkbox_on.png') no-repeat bottom;
    color: transparent;
    border: transparent;
}

.uninvited {
    background: url('../images/checkbox_off.png') no-repeat bottom;
    color: transparent;
    border: transparent;
}


.scheduled {
    background: url('../images/scheduled_on.png') no-repeat bottom;
    color: transparent;
    border: transparent;
}

.unscheduled {
    background: url('../images/scheduled_off.png') no-repeat bottom;
    color: transparent;
    border: transparent;
}

.rated {
    color: darkred;
}

.rating {
    text-align: center;
}

.container .speakerIcon {
    display: block;
    background-size: 100px;
    background: #f8cb7a;
    height: 100px;
    line-height: 100px;
    border: 2px solid #fff;
    text-align: center;
    width: 100px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    transition: all 0.15s ease-out 0s;
    -webkit-transition: all 0.15s ease-out 0s;

}