<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Devoxx Call For Papers - Review</title>
    <meta name="description" content="Devoxx Call For Papers - Review">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/all.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/bootstrap-responsive.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="cfpReviewApp">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="components/es5-shim/es5-shim.js"></script>
<script src="components/json3/lib/json3.min.js"></script>
<![endif]-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Devoxx Call For Papers - Review</a>

            <div class="nav-collapse collapse" ng-controller="AuthenticationCtrl">
                <ul class="nav">
                    <li><a href="#/">Home</a></li>
                </ul>
                <ul class="nav pull-right" ng-show="user">
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{user.firstname}} {{user.lastname}} <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#">Change Password</a></li>-->
                            <li><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right" ng-hide="user">
                    <li>
                        <input type="text" class="input-medium btn-group" ng-model="emailOrUsername" placeholder="Email or Username">
                    </li>
                    <li>
                        <input type="password" class="input-small btn-group" ng-model="password" placeholder="Password">
                    </li>
                    <li>
                        <button class="btn" ng-click="login()">Log in</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" ng-view></div>
</div>

<div id="footer">
    <div class="container">
        <div class="muted-credit">Copyright Devoxx 2013
            <a href="http://www.cloudbees.com">
                <img src="images/Button-Powered-by-CB.png" alt="Powered by CloudBees" border="0"/>
            </a>
        </div>
    </div>
</div>

<script src="components/jquery/jquery.js"></script>
<script src="components/unstable-angular-complete/angular.js"></script>
<script src="components/unstable-angular-complete/angular-resource.js"></script>
<script src="components/unstable-angular-complete/angular-cookies.js"></script>
<script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="components/mousetrap/mousetrap.js"></script>
<script src="components/ngInfiniteScroll/ng-infinite-scroll.js"></script>

<!-- build:js scripts/scripts.js -->
<script src="config.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/services/services.js"></script>
<script src="components/cfp-speaker/app/scripts/services/services.js"></script>
<script src="components/cfp-speaker/app/scripts/services/eventbus.js"></script>
<script src="components/cfp-speaker/app/scripts/services/UsersService.js"></script>
<script src="components/cfp-speaker/app/scripts/services/EventService.js"></script>
<!-- endbuild -->

<!-- build:js(.tmp) scripts/scriptsCoffee.js -->
<script src="scripts/services/presentationQuery.js"></script>
<script src="scripts/controllers/controllers.js"></script>
<script src="scripts/controllers/presentation.js"></script>
<script src="scripts/controllers/authentification.js"></script>
<!-- endbuild -->

</body>
</html>
