<div class="span9">
    <h3>Devoxx Call For Papers - Review</h3>
    <table class="table table-striped">
        <caption>Presentation Search Results ({{presentations.count}})</caption>
        <thead>
        <tr>
            <th><img src="/images/fav_on_16.png" alt="favorite"/></th>
            <th><img src="/images/checkbox_on.png" alt="invited"/></th>
            <th><img src="/images/scheduled_on.png" alt="scheduled"/></th>
            <th>speaker</th>
            <th>title</th>
            <th>type</th>
            <th>state</th>
            <th><img src="/images/rating.png" alt="rating"/></th>
            <th><img src="/images/voters.png" alt="voters"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in presentations.results" ng-class="{'success': stateDisplay(p.state)=='ACC'}" id="presentation-{{p.id}}">
            <td><input value=" " type="submit" ng-class="{'favorite': p.favorite, 'unfavorite': !p.favorite}"></td>
            <td><input value=" " type="submit" ng-class="{'invited': p.invited, 'uninvited': !p.invited}"></td>
            <td><input value=" " type="submit" ng-class="{'scheduled': p.scheduled, 'unscheduled': !p.scheduled}"></td>
            <td><a href="#">{{p.author.firstname}} {{p.author.lastname}}</a></td>
            <td><a href="#/{{p.id}}">{{p.title}}</a></td>
            <td>{{typeDisplay(p.type)}}</td>
            <td><span class="label" ng-class="stateClass(p.state)">{{stateDisplay(p.state)}}</span></td>
            <td><span class="label" ng-class="ratingClass(p.rating)">{{p.rating | number:1}}</span></td>
            <td>{{p.ratings.length}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="span2">
    <form>
        <fieldset>
            <legend>Search & Filter</legend>
            <label>Event</label>
            <select>
                <option ng-repeat="e in events">{{e.name}}</option>
            </select>
            <label>Type</label>
            <select>
                <option>Conference</option>
                <option>University</option>
                <option>Tools in Action</option>
                <option>Hands-on Labs</option>
                <option>BOF</option>
                <option>Quickie</option>
            </select>
            <label>Track</label>
            <select>
                <option>Web</option>
                <option>NoSQL</option>
                <option>Cloud</option>
                <option>Java</option>
                <option>Startup</option>
                <option>Languages alternatifs</option>
            </select>
            <label>State</label>
            <label class="checkbox">
                <input type="checkbox"> DELETED
            </label>
            <label class="checkbox">
                <input type="checkbox" checked> REJECTED
            </label>
            <label class="checkbox">
                <input type="checkbox" checked> SUBMITTED
            </label>
            <label class="checkbox">
                <input type="checkbox" checked> ONHOLD
            </label>
            <label class="checkbox">
                <input type="checkbox" checked> BACKUP
            </label>
            <label class="checkbox">
                <input type="checkbox" checked> APPROVED
            </label>
            <label class="checkbox">
                <input type="checkbox" checked> ACCEPTED
            </label>
            <label class="checkbox">
                <input type="checkbox" checked> DECLINED
            </label>
            <label class="checkbox">
                <input type="checkbox"> Already rated (by me)
            </label>
            <label class="checkbox">
                <input type="checkbox"> Only Favorites
            </label>
            <label class="checkbox">
                <input type="checkbox"> Only Invites
            </label>
            <label class="checkbox">
                <input type="checkbox"> With new comments
            </label>
            <input type="text" placeholder="Tags (space separated)">
            <label>Search keywords</label>
            <input type="text">
            <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
    </form>
</div>