<div class="span9">
    <h3>Devoxx Call For Papers - Review</h3>
    <h4 ng-show="model.presentations.length === 0">Nothing to display</h4>
    <table ng-hide="model.presentations.length === 0" class="table table-striped" infinite-scroll='nextPage()' infinite-scroll-disabled='model.busy' infinite-scroll-distance='1'>
        <caption>Presentation Search Results (1-{{model.presentations.length}}/{{model.count}})</caption>
        <thead>
        <tr>
            <th><img src="/images/fav_on_16.png" alt="favorite"/></th>
            <th><img src="/images/checkbox_on.png" alt="invited"/></th>
            <th><img src="/images/scheduled_on.png" alt="scheduled"/></th>
            <th>speaker</th>
            <th>title</th>
            <th>type</th>
            <th>state</th>
            <th><img src="/images/rating.png" alt="rating"/></th>
            <th><img src="/images/voters.png" alt="voters"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in model.presentations track by $index" ng-class="{'success': stateDisplay(p.state)=='ACC'}" id="presentation-{{p.id}}"
            popover="{{p.summary}}"
            popover-trigger="mouseenter"
            popover-placement="bottom"
            popover-title="Summary"
            popover-popup-delay="300">
            <td><input value=" " type="submit" ng-class="{'favorite': p.favorite, 'unfavorite': !p.favorite}"></td>
            <td><input value=" " type="submit" ng-class="{'invited': p.invited, 'uninvited': !p.invited}"></td>
            <td><input value=" " type="submit" ng-class="{'scheduled': p.scheduled, 'unscheduled': !p.scheduled}"></td>
            <td><a href="#">{{p.author.firstname}} {{p.author.lastname}}</a></td>
            <td><a href="#/event/{{ model.event.id }}/presentation/{{p.id}}">{{p.title}}</a></td>
            <td>{{typeDisplay(p.type)}}</td>
            <td><span class="label" ng-class="stateClass(p.state)">{{stateDisplay(p.state)}}</span></td>
            <td><span class="label" ng-class="ratingClass(p.rating)">{{p.rating | number:1}}</span></td>
            <td>{{p.ratings.length}}</td>
        </tr>
        </tbody>
    </table>
    <caption ng-hide="model.presentations.length === 0">Presentation Search Results (1-{{model.presentations.length}}/{{model.count}})</caption>
    <div ng-show='model.busy'>Loading data...</div>
</div>
<div class="span2">
    <form>
        <fieldset>
            <legend>Search & Filter</legend>
            <label>Event</label>
            <select ng-model="model.event" ng-options="e as e.name for e in model.events"></select>
            <label>Type</label>
            <select ng-model="model.query.type" ng-options="t as t.name for t in model.event.types track by idToString(t.id)">
                <option></option>
            </select>
            <label>Track</label>
            <select ng-model="model.query.track" ng-options="t as t.name for t in model.event.tracks track by idToString(t.id)">
                <option></option>
            </select>
            <label>State</label>
            <label class="checkbox" ng-repeat="s in model.states track by $index">
                <input type="checkbox" ng-model="s.value"> {{ s.id }}
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="model.query.alreadyRated"> Already rated (by me)
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="model.query.favouritesOnly"> Only Favorites
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="model.query.invitesOnly"> Only Invites
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="model.query.myCommentWasLast"> Only if my comment last
            </label>
            <input type="text" ng-model="model.tags" placeholder="Tags (space separated)">
            <label>Search keywords</label>
            <input type="text" ng-model="model.query.query">
            <button class="btn btn-primary" ng-click="resetResultAndRefresh()">Refresh</button>
        </fieldset>
    </form>
</div>