<div class="span10">
<article>

<div class="page-header">
    <h3>{{presentation.title}}
        <span class="badge badge-success pull-right">{{presentation.state}}</span>
    </h3>
</div>

<header>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{presentation.event.name}}</label>

            <div class="controls">
                <select>
                    <option>{{presentation.type.name}}</option>
                </select>
                <select>
                    <option>{{presentation.track.name}}</option>
                </select>
                ({{presentation.language.language}})
            </div>
        </div>
    </form>
</header>

<hr>

<section>

    <h4>Presentation</h4>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Summary</label>

            <div class="controls">
                <pre>{{presentation.summary}}</pre>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Audience</label>

            <div class="controls">
                <span class="label">{{presentation.audienceExperience}}</span>
            </div>
        </div>
    </form>
</section>

<hr>

<section>

    <h4>Author</h4>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">About</label>

            <div class="controls">
                <div class="speakerIcon" style="background: url({{thumbnailUrl(presentation.author)}});" ></div>
                {{presentation.author.firstname}} {{presentation.author.lastname}} ({{presentation.author.company}})
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Bio</label>

            <div class="controls">
                <pre>{{presentation.author.speakerBio}}</pre>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">References</label>

            <div class="controls">
                <pre>{{presentation.author.speakingReferences}}</pre>
            </div>
        </div>
    </form>
</section>

<hr>

<section>

    <h4>Other Speakers</h4>

    <form class="form-horizontal" ng-repeat="other in presentation.speakers">
        <div class="control-group">
            <label class="control-label">About</label>

            <div class="controls">
                <a class="btn" href="#"><i class="icon-trash"></i> Delete</a>
                <img ng-src="{{other.imageFile}}" alt="author image"> {{other.firstname}} {{other.lastname}}
                ({{other.company}})
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Bio</label>

            <div class="controls">
                <pre>{{other.speakerBio}}</pre>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">References</label>

            <div class="controls">
                <pre>{{other.speakingReferences}}</pre>
            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Add speaker</label>

            <div class="controls">
                <input type="text" placeholder="add speaker username here">
            </div>
        </div>
    </form>

</section>

<hr>

<section>

    <h4>Tags</h4>
    <ul class="unstyled">
        <li ng-repeat="tag in presentation.tags"><a href="#"><i class="icon-trash"></i></a> <span class="label">{{tag.name}}</span>
        </li>
    </ul>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Add tag</label>

            <div class="controls">
                <input type="text" placeholder="add a new tag here">
            </div>
        </div>
    </form>

</section>

<hr>

<section>

    <h4>Status</h4>

    <form class="form-horizontal">
        <!--<div class="control-group">-->
            <!--<label class="control-label">Rating</label>-->

            <!--<div class="controls">-->
                <!--<span class="label label-success">4.2</span>-->
                <!--Rate-->
                <!--<span class="label label-important">0</span>-->
                <!--<span class="label label-important">1</span>-->
                <!--<span class="label label-warning">2</span>-->
                <!--<span class="label label-warning">3</span>-->
                <!--<span class="label label-success">4</span>-->
                <!--<span class="label label-success">5</span>-->
                <!--(1 is bad, 5 is excellent, 0 for no vote)-->
            <!--</div>-->
        <!--</div>-->
        <div class="control-group">
            <label class="control-label">Schedulable</label>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> (Make this talk available for scheduling)
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Invited</label>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Favorite</label>

            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">ScheduleCode</label>

            <div class="controls">
                {{presentation.schedule.itemCode}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">State</label>

            <div class="controls">
                <span class="label">{{presentation.state}}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Submitted</label>

            <div class="controls">
                2012-11-20
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last Modified</label>

            <div class="controls">
                2013-02-19
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button type="button" class="btn">Update</button>
            </div>
        </div>
    </form>

</section>

<hr>

<section>

    <h4>Other submissions</h4>

    <table class="table table-striped" ng-show="presentation.otherPresentations">
        <thead>
        <tr>
            <th>title</th>
            <th>type</th>
            <th>state</th>
            <th><img src="/images/rating.png" alt="rating"/></th>
            <th><img src="/images/voters.png" alt="voters"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in presentation.otherPresentations">
            <td><a href="#/{{p.id}}">{{p.title}}</a></td>
            <td>{{typeDisplay(p.type)}}</td>
            <td><span class="label" ng-class="stateClass(p.state)">{{stateDisplay(p.state)}}</span></td>
            <td><span class="label" ng-class="ratingClass(p.rating)">{{p.rating | number:1}}</span></td>
            <td>{{p.ratings.length}}</td>
        </tr>
        </tbody>
    </table>
</section>

<hr>

<section>
    <h4>Speaker Questions and Feedback</h4>

    <table class="table table-striped" ng-show="presentation.feedbacks">
        <tbody>
        <tr ng-repeat="f in presentation.feedbacks">
            <td>{{f | json}}</a></td>
        </tr>
        </tbody>
    </table>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <textarea rows=3></textarea>
                <button type="button" class="btn">Add feedback</button>
            </div>
        </div>
    </form>
</section>

<hr>

<section>
    <h4>Comments</h4>

    <table class="table table-striped" ng-show="presentation.comments">
            <tbody>
        <tr ng-repeat="comment in presentation.comments">
            <td>
                <div class="row-fluid">
                    <div class="row-fluid">
                        <div class="span2">
                            <div class="speakerIcon" style="background: url({{thumbnailUrl(comment.user)}});" ></div>
                        </div>
                        <div class="span10">
                            <div class="row-fluid">
                                <div class="span12">
                                    <span>{{comment.user.firstname}} {{comment.user.lastname}}</span><br>
                                    <span>{{comment.createdOn|date:'medium'}}</span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <br>
                                    <span>{{comment.text}}<span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">What do you think ?</label>

            <div class="controls">
                <textarea rows=3></textarea>
                <button type="button" class="btn">Add your comment</button>
            </div>
        </div>
    </form>
</section>

</article>
</div>

<div class="span2 rating">

    <div class="affix">

        <h3> Rating: <label class="badge badge-success"><h1>{{avgRate && avgRate | number:1 || '?'}}</h1></label></h3>

        <h3>Rate it !</h3>

        <div class="btn-group btn-group-vertical">
            <button type="button" class="btn btn-success" ng-model="rate" btn-radio="'5'" ng-click="rateIt(5)"><h2 ng-class="{'rated': rate == '5'}">5</h2></button>
            <button type="button" class="btn btn-success" ng-model="rate" btn-radio="'4'" ng-click="rateIt(4)"><h2 ng-class="{'rated': rate == '4'}">4</h2></button>
            <button type="button" class="btn btn-warning" ng-model="rate" btn-radio="'3'" ng-click="rateIt(3)"><h2 ng-class="{'rated': rate == '3'}">3</h2></button>
            <button type="button" class="btn btn-warning" ng-model="rate" btn-radio="'2'" ng-click="rateIt(2)"><h2 ng-class="{'rated': rate == '2'}">2</h2></button>
            <button type="button" class="btn btn-danger" ng-model="rate" btn-radio="'1'" ng-click="rateIt(1)"><h2 ng-class="{'rated': rate == '1'}">1</h2></button>
            <button type="button" class="btn btn-danger" ng-model="rate" btn-radio="'0'" ng-click="rateIt(0)"><h2 ng-class="{'rated': rate == '0'}">0</h2></button>
        </div>

        <h3>Shortcuts Keys</h3>
        <label>0..5 = rate 0 to 5</label>
        <!--<label>p = previous / n = next</label>-->

    </div>

</div>